{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Lista de Pedidos Guardados</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>ID Pedido</th>
                    <th>Mesa</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id_pedido }}</td>
                    <td>{{ pedido.id_mesa.num_mesa }}</td>
                    <td>{{ pedido.fecha_gen_ped }}</td>
                    <td>{{ pedido.hora_gen_ped }}</td>
                    
                    <td class="text-end">
                        <a href="#" class="btn btn-success btn-sm">Confirmar Pedido</a>
                        <a href="#" class="btn btn-warning btn-sm">Modificar Pedido</a>
                        <a href="#" class="btn btn-danger btn-sm">Cancelar Pedido</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No hay pedidos guardados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botón para regresar a la pantalla de Pedidos -->
        <div class="mt-4">
            <a href="{% url 'lista_pedidos' %}" class="btn btn-secondary">Regresar a Pedidos</a>
        </div>
    </div>
</div>
{% endblock %}
